@use "../general/" as g;
.home {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
  .content-con {
    display: grid;
    grid-template-columns: 2fr 1fr;
    .slogan {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: g.$darkFont;
        font-size: 6.4rem;
        margin-left: 2rem;
      }
    }
    .img-con {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 35rem;
        width: 35rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: -1px 0px 31px -10px rgba(66, 68, 90, 1);
      }
    }
  }
}
